{% extends "layout.html" %}
{% block content %}
    {% for userquery in UserQuerys %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + userquery.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{userquery.author.username }}</a>
              <small class="text-muted">{{userquery.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{url_for('userquery', query_id=userquery.id)}}">{{userquery.title }}</a></h2>
            <p class="article-content">{{ userquery.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
